---
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";
import TwoThirdsLayout from "@layouts/TwoThirdsLayout.astro";
import { formatDate } from "@utils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout
  title={`${entry.data.title} | Yan Thomas`}
  description={entry.data.description}
>
  <TwoThirdsLayout>
    <article
      class="prose prose-invert prose-headings:text-neutral-50 md:prose-lg prose-p:text-neutral-300 prose-strong:text-neutral-50 prose-blockquote:border-neutral-50 prose-blockquote:border-l-2 max-w-none"
    >
      <small class="font-semibold md:text-lg text-neutral-400 mb-2">
        Published {formatDate(entry.data.pubDate)}
      </small>
      <h1>{entry.data.title}</h1>
      <Content />
    </article>
  </TwoThirdsLayout>
</MainLayout>
