---
import MainLayout from "@layouts/MainLayout.astro";
import TwoThirdsLayout from "@layouts/TwoThirdsLayout.astro";
import { Image } from "astro:assets";
import impostor from "@assets/impostor.webp";
---

<MainLayout title="404 | Yan Thomas" overflow={false}>
  <TwoThirdsLayout>
    <div class="grid place-content-center h-full">
      <Image
        class="flying absolute top-[50%] left-0"
        width="48"
        src={impostor}
        alt="An impostor from Among Us"
      />
      <h1 class="text-neutral-50 text-3xl font-bold md:text-4xl lg:text-5xl">
        <span class="block text-9xl">404</span>
        This page was an impostor.
      </h1>
      <h1 class="mt-4 text-xl md:text-2xl lg:text-4xl">
        Instead, go to one of these links next to you.
      </h1>
    </div>
  </TwoThirdsLayout>
</MainLayout>

<style>
  @keyframes wandering-space {
    from {
      left: 0;
      transform: rotate(0deg);
    }
    to {
      left: 120%;
      transform: rotate(360deg);
    }
  }

  .flying {
    transform: translateX(-3000px);
    animation-name: wandering-space;
    animation-duration: 24s;
    animation-delay: 5s;
    animation-timing-function: ease-out;
    z-index: -10;
  }
</style>
