---
import Base from "#layouts/Base.astro";
---

<Base
	title="Yan | 404"
	description="This page does not exist. Are you lost?"
	id="404"
>
	<main id="__page-content">
		<div class="prose flow">
			<h1>Page not found</h1>
			<p>The page you tried to access doesn't exist.</p>
		</div>
	</main>
</Base>
