---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - Yan Thomas">
	<main
		class="h-screen flex items-center justify-center bg-zinc-900 font-mono text-center p-4"
	>
		<div>
			<p class="font-bold text-5xl mb-6 text-white">
				Thank you wanderer!
			</p>
			<p class="text-zinc-300">But the site is in another... castle?!</p>
		</div>
	</main>
</Layout>
