---
import { getCollection } from "astro:content";
import { formatDate } from "../utils";

const posts = await getCollection("blog");

function getYear(date: Date) {
  return new Date(date).getFullYear();
}

posts.sort((first, second) => {
  return getYear(second.data.pubDate) - getYear(first.data.pubDate);
});
---

<h1 class="text-2xl sm:text-4xl text-neutral-50 font-bold mb-6">
  What I've been writing...
</h1>
<ul class="flex flex-col gap-4 mb-12">
  {
    posts.map(({ slug, data }) => (
      <li>
        <a
          class="block bg-neutral-800 hover:bg-neutral-700 transition-colors p-8 max-w-2xl"
          href={`/blog/${slug}/`}
        >
          <h2 class="text-2xl sm:text-4xl text-neutral-50 font-bold mb-3">
            {data.title}
          </h2>
          <p class="mb-4 sm:text-lg">{data.description}</p>
          <small class="font-semibold md:text-lg text-neutral-400">
            Published {formatDate(data.pubDate)}
          </small>
        </a>
      </li>
    ))
  }
</ul>
