---
const currentPage = Astro.url.pathname;
const pages = [
  { label: "About", link: "/" },
  { label: "Blog", link: "/blog" },
  { label: "Twitter", link: "https://twitter.com/yanthomasdev" },
  { label: "GitHub", link: "https://github.com/Yan-Thomas" },
];
---

<nav>
  <ul
    class="flex flex-row gap-4 md:gap-2 items-center font-semibold text-neutral-50 sm:flex-col sm:items-end sm:text-4xl sm:pl-8"
  >
    {
      pages.map(({ label, link }) => (
        <li
          class:list={[
            "sm:w-full sm:max-w-[350px] sm:text-right hover:text-neutral-200 transition-colors md:p-2",
            {
              "bg-neutral-50 text-neutral-900 hover:text-neutral-900 hover:bg-neutral-200 p-2 md:p-2":
                currentPage === link,
            },
          ]}
        >
          <a class="w-full inline-block" href={link}>
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
