---
import Navigation from "../components/Navigation.astro";
---

<main
  class="min-h-screen pt-4 px-5 sm:grid sm:grid-cols-2 md:grid-cols-3 md:px-6 max-w-7xl mx-auto"
>
  <div class="sm:hidden">
    <Navigation />
  </div>
  <div class="md:col-span-2 mt-24 pb-12">
    <slot />
  </div>
  <div class="hidden sm:block h-full max-h-full">
    <div class="sticky top-[50vh] translate-y-[-124px]">
      <Navigation />
    </div>
  </div>
</main>
